#about{
  padding: 100px 0 100px 0;
  width: 100%;
  color: #382a2a;
  border: 300px;
}

#photo-card{
  display: inline-block;
  margin: auto;
  &:hover .img-description{
    visibility: visible;
    opacity: .5;
    background-color:#000;
  }
}

.image {
  width: 18rem;
  height: 20rem;
}

.img-description {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 1;
  padding: 10%;
}
