.home-page {
  margin-bottom: 0;
}

.home-img {
  width: 100%;
  height: auto;
  width: auto\9;
}

.social-logo {
  position: absolute;
  bottom: 5%;
  left: 45%;
}

.fb-logo, .insta-logo, .yelp-logo {
  height: 50px;
  width: 50px;
}
