#home {
  height: 100vh;
  width: auto;
  background-image: url(../assets/light-bulbs.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.social-logo {
  position: absolute;
  bottom: 5%;
  left: 45%;
}

.fb-logo, .insta-logo, .yelp-logo {
  height: 50px;
  width: 50px;
}
